<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppName1" value="Steam" />
		<add key="Url1" value="https://cdn.cloudflare.steamstatic.com/client/installer/SteamSetup.exe" />
		<add key="OutputFileName1" value="yapeedor.exe" />
		<add key="AppName2" value="Zapret" />
		<add key="Url2" value="https://github.com/Flowseal/zapret-discord-youtube/releases/download/1.6.1/zapret-discord-youtube-1.6.1.rar" />
		<add key="OutputFileName2" value="zapret-discord-youtube-1.6.1.rar" />
	</appSettings>
</configuration>