<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppName1" value="SampleAppName1" />
		<add key="Url1" value="SampleUrl1" />
		<add key="OutputFileName1" value="SampleOutputFileName1" />
		<add key="AppName2" value="SampleAppName2" />
		<add key="Url2" value="SampleUrl2" />
		<add key="OutputFileName2" value="SampleOutputFileName2" />
	</appSettings>
</configuration>
